#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

# Common include files
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk

# usplash is not available on ia64
ifeq ($(DEB_HOST_ARCH_CPU),ia64)
DEB_MAKE_BUILD_TARGET := tuxoniceui_text tuxoniceui_fbsplash
else
DEB_MAKE_BUILD_TARGET := tuxoniceui_text tuxoniceui_fbsplash tuxoniceui_usplash
endif

DEB_BINARIES_DIR := $(CURDIR)/debian/tuxonice-userui/usr/lib/tuxonice-userui

binary-post-install/tuxonice-userui::
	mkdir -p $(DEB_BINARIES_DIR)
	install -m 755 -o root -g root -t $(DEB_BINARIES_DIR) \
		$(DEB_MAKE_BUILD_TARGET)
